.tools-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: 2px solid var(--gray-dark);
    background-color: var(--accent);
}

button {
    background-color: unset;
    border: unset;
    cursor: pointer;
    margin: 8px;
    border-radius: 50px;
}
